# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.bcf
*.run.xml
*.lof
*.lot
*.pdf
!_files/**/*

# Version only PDFs in the figures directory
!figures/*.pdf

# BibTeX/BibLaTeX temporary files
*.bbl
*.bcf
*.blg
*.run.xml

# Editor files
.vscode/
*.swp
*.swo
*~
.DS_Store

# Linters and formatters
.chktexrc

# Build directory
build/

# others
raw
